//客製區塊

//月曆(apple - hyc)================================================================

.area-customize.calendar-detail03 {

	> .bg-drop-layout > .in, > .in {

	}

	.hd {
		@extend %header;

		> .in {

		}

		h4 {
			
		}

		span {
				
		}

		a {

		}
	}

	.ct {

		> .in {

		}

		.heading {

			&:after {
				@extend %clear;
			}
		}

		.caption {
			float: left;
			font-size: $font-size-xl;
			color: $title-color;

			@include media('phone') {
				float: none;
				text-align: center;
			}

			span {
				color: inherit;
			}

			a {
				color: inherit;
				font-size: 1em;
				font-weight: $font-weight-b;
			}

			/*i*/.mark {
				font-weight: $font-weight-n;
			}
		}

		.label {
			$border: 1px solid $major-color;

			overflow: hidden;
			text-align: center;

			@include media('phone') {
				margin-top: $interval-m;
			}

			ul {
				display: inline-block;
				vertical-align: middle;

				&:after {
					@extend %clear;
				}
			}

			li {
				float: left;

				+ li {

					a {
						border-left: 0;
					}
				}

				&:nth-child(1) {
 
					a {
						border-radius: $border-radius 0 0 $border-radius;
					}
				}

				&:nth-last-child(1) {

					a {
						border-radius: 0 $border-radius $border-radius 0;
					}
				}
			}

			span {
				display: block;
			}

			a {
				display: block;
				padding: $interval-s $interval-l;
				color: $major-color;
				border: $border;
				transition: $transition;

				&:hover {
					background-color: $major-color;
					color: $white;
				}
			}
		}

		.table {
			margin-top: $interval-m;

			table {
				table-layout: fixed;
				width: 100%;
			}

			tbody {

			}

			tr {

			}

			th {

				&.weekend {

					span {
						color: $gray;
					}
				}

				span {
					padding: $interval-s $interval-m;
					color: $deep-gray;
					text-align: right;

					@include media('phone') {
						text-align: center;
					}
				}
			}

			td {
				transition: $transition;
				border: $border;
				padding: $interval-s;
				vertical-align: top;

				&.weekend {
					background-color: $light;
				}

				> div {
					min-height: 120px;
					text-align: right;

					@include media('phone') {
						min-height: 0;
						text-align: center;
					}
				}
			}

			th ,& td {
				
			}

			th {

				span {
					display: block;
				}
			}

			.event { //有事件

				@include media('phone') {

					/*a*/.mark {
						text-decoration: underline;
					}
				}
			}

			.this-week { //這週
				background-color: $white;

				@include media('phone') {
					border: $border;
					border-color: $light;
				}
			}

			.prev-mounth { //上個月的日期

			}

			.next-mounth { //下個月的日期

			}

			.weekend { //假日

				/*a*/.mark {
					color: $gray;
				}
			}

			.today { //今天

				/*a*/.mark {
					background-color: $major-color;
					color: $white;
				}
			}

			.is-active { //被選擇

			}

			.div {
				
			}

			.list {
				margin-top: $interval-xs;

				@include media('phone') {
					display: none;
				}

				ul {

				}

				li {

					+ li {
						margin-top: $interval-xs;
					}
				}

				span {
					display: block;
				}

				a {
					position: relative;
					display: block;
					text-align: left;
					padding: $interval-xs;
					border-radius: $border-radius;
					background-color: hsl( hue($minor-color), saturation($minor-color),  lightness($light));

					&:hover {
						background-color: hsl( hue($minor-color), saturation($minor-color), lightness($light-gray));
						color: inherit;
					}
				}
			}

			/*a*/.mark {
				display: inline-block;
				width: 25px;
				text-align: center;
				line-height: 25px;
				font-weight: $font-weight-b;
				border-radius: 50%;
			}
		}
	}

	.ft {
		@extend %footer;

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}