//表格區塊

//內頁表格================================================================

.area-table.page-table {

	> .bg-drop-layout > .in, > .in {

	}

	.hd {
		@extend %header;

		> .in {

		}

		h4 {
			
		}

		span {
				
		}

		a {

		}
	}

	.ct {

		> .in {
			border-top: 2px solid $deep-gray;
			border-bottom: 1px solid $deep-gray;
		}

		table {
			width: 100%;

			@include media('mobile') {
				table-layout: fixed;
			}
		}

		thead {

			tr {

			}

			th {
				border-bottom: 1px solid $deep-gray;
			}

			td {
				border-bottom: 1px solid $light-gray;
			}
		}

		tbody {

			tr {

				&:hover {
					background-color: $light;
					color: $major-color;
				}
			}

			th {
				border-bottom: 1px solid $deep-gray;
			}

			td {
				border-bottom: 1px solid $light-gray;
			}
		}

		tfoot {

			th, td {

			}

			span {

			}
		}

		tr {

		}

		th, td {

		}

		th {
			font-weight: $font-weight-b;
			text-align: center;
		}

		td {

		}

		span {
			display: block;
			padding: $interval-m;
		}

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.ft {
		@extend %footer;

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}