//文章區塊

//訊息================================================================

.area-essay.message {

	> .bg-drop-layout > .in, > .in {
		
	}

	.hd {
		@extend %header;

		> .in {

		}

		h4 {
			
		}

		span {
				
		}

		a {

		}
	}

	.ct {

		> .in {
			
		}

		/*a*/.div {
			padding: $interval-m;
			background-color: $light;
			transition: $transition;
			
			&:after {
				@extend %clear;
			}

			&:hover {
				background-color: $light-gray;
			}
		}

		.img {
			float: left;
			margin-right: $interval-m;

			span {
				@extend %bg-cover;
				display: block;
				width: 80px;
				height: 80px;
			}

			img {
				display: none;
			}
		}

		.essay {
			overflow: hidden;
		}

		.caption {
			@extend %caption;

			span {
				
			}
		}

		.label {
			@extend %label;

			ul {

			}

			li {

			}

			span {

			}
		}

		/*i*/.mark {
			@extend %mark;
		}

		.p {
			@extend %paragraph;

			p {

			}

			span {

			}
		}
	}

	.ft {
		@extend %footer;

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}