//客製區塊

//預設================================================================

.area-customize.nav {

	> .bg-drop-layout > .in, > .in {

	}

	.hd {

		> .in {

		}

		h4 {
			
		}

		span {

		}

		a {

		}
	}

	.ct {

		> .in {

		}
	}

	.ft {

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}