//表單區塊

//內頁表單================================================================

.area-form.page-form {

	> .bg-drop-layout > .in, > .in {

	}

	.hd {

		> .in {

		}

		h4 {

		}

		span {
			display: block;
			padding: $interval-m $interval-l;
			background-color: $major-color;
			color: $white;
		}

		a {
			color: inherit;
		}
	}

	.ct {

		> .in {

		}

		.fieldset {
			$height: 26px;
			$left: 140px;
			padding: $interval-xl $interval-xl * 2;
			background-color: $light;

			@include media('phone') {
				padding: $interval-xl
			}

			+ .fieldset {
				margin-top: $interval-xs;
				text-align: right;
				padding: 0;
				background-color: transparent;

				input {

					&[type="submit"], &[type="reset"], &[type="button"] {
						padding: $interval-m $interval-xl;
						font-size: $font-size-l;
					}
				}
			}

			%labels {
				line-height: $height;
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				width: $left;
				box-sizing: border-box;
				padding: 0 $interval-l;
				text-align: right;

				@include media('phone') {
					line-height: normal !important;
					position: static;
					top: auto;
					left: auto;
					width: auto;
					padding: 0;
					text-align: left;
				}
			}

			.legend {

				span {

				}
			}

			span {
				display: block;

				&[data-message] {

					&:after {
						content: attr(data-message);
						margin-left: $interval-xs;
						color: $minor-color;
						display: block;
					}
				}

				&.is-required {

					label {

						&:before {
							content: '* ';
							color: $minor-color;
						}
					}
				}

				&.is-error {

					label {
						color: $minor-color;
					}

					input {
						border-color: $minor-color;
					}

					select {
						border-color: $minor-color;
					}

					textarea {
						border-color: $minor-color;
					}
				}

				&.select {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					@include media('phone') {
						padding-left: 0;
					}

					label {
						@extend %labels;
						line-height: 31px;

						@include media('mobile') {
							margin: $interval-m 0;
						}
					}
				}

				&.text {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					@include media('phone') {
						padding-left: 0;
					}

					label {
						@extend %labels;
						line-height: 38px;

						@include media('mobile') {
							margin: $interval-m 0;
						}
					}
				}

				&.password {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					@include media('phone') {
						padding-left: 0;
					}

					label {
						@extend %labels;
						line-height: 38px;

						@include media('mobile') {
							margin: $interval-m 0;
						}
					}
				}

				&.date {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					input {
						background-image: image-url('icon-pic/calendar.png');
						background-position: center right;
						background-repeat: no-repeat;
					}

					@include media('phone') {
						padding-left: 0;
					}

					label:first-child {
						@extend %labels;
						line-height: 38px;
					}

					label {

						@include media('mobile') {
							display: block;
							margin: $interval-m 0;
						}
					}
				}
				
				&.number {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					@include media('phone') {
						padding-left: 0;
					}

					label {
						@extend %labels;
						line-height: 38px;

						@include media('mobile') {
							margin: $interval-m 0;
						}
					}
				}
				
				&.search {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					@include media('phone') {
						padding-left: 0;
					}

					label {
						@extend %labels;
						line-height: 38px;

						@include media('mobile') {
							margin: $interval-m 0;
						}
					}
				}

				&.email {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					@include media('phone') {
						padding-left: 0;
					}

					label:first-child {
						@extend %labels;
						line-height: 38px;
					}

					label {

						@include media('mobile') {
							display: block;
							margin: $interval-m 0;
						}
					}
				}

				&.file {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					@include media('phone') {
						padding-left: 0;
					}

					label {
						@extend %labels;
						line-height: 38px;

						@include media('mobile') {
							margin: $interval-m 0;
						}
					}
				}

				&.radio {
					margin-top: $interval-s;
					padding-left: $left;

					@include media('phone') {
						padding-left: 0;
					}
				}

				&.checkbox {
					margin-top: $interval-s;
					padding-left: $left;

					@include media('phone') {
						padding-left: 0;
					}
				}

				&.textarea {
					margin-top: $interval-s;
					position: relative;
					padding-left: $left;

					@include media('phone') {
						padding-left: 0;
					}

					label {
						@extend %labels;
						line-height: 38px;
					}
				}

				&.submit {
					display: inline-block;
				}

				&.reset {
					display: inline-block;
				}

				&.button {
					display: inline-block;
				}
			}

			select {
				max-width: 100%;
				line-height: $height;

				option {

				}
			}

			input {
				max-width: 100%;

				&[type="text"] {
					line-height: $height;

					@include media('center') {
						display: block;
						width: auto;
					}

					@include media('phone') {
						display: block;
						width: 100%;
					}
				}

				&[type="password"] {
					line-height: $height;

					@include media('center') {
						display: block;
						width: auto;
					}

					@include media('phone') {
						display: block;
						width: 100%;
					}
				}

				&[type="date"] {
					line-height: $height;

					@include media('center') {
						display: block;
						width: auto;
					}

					@include media('phone') {
						display: block;
						width: 100%;
					}
				}
				
				&[type="number"] {
					line-height: $height;

					@include media('center') {
						display: block;
						width: auto;
					}

					@include media('phone') {
						display: block;
						width: 100%;
					}
				}
				
				&[type="search"] {
					line-height: $height;

					@include media('center') {
						display: block;
						width: auto;
					}

					@include media('phone') {
						display: block;
						width: 100%;
					}
				}

				&[type="email"] {
					line-height: $height;

					@include media('center') {
						display: block;
						width: auto;
					}

					@include media('phone') {
						display: block;
						width: 100%;
					}
				}

				&[type="file"] {
					line-height: $height;

					@include media('center') {
						display: block;
						width: auto;
					}

					@include media('phone') {
						display: block;
						width: 100%;
					}
				}

				&[type="radio"] {
					line-height: $height;
				}

				&[type="checkbox"] {
					line-height: $height;
				}

				&[type="submit"] {
					margin: $interval-xs;
					@extend %btn-imp;
				}

				&[type="reset"] {
					margin: $interval-xs;
				}

				&[type="button"] {
					margin: $interval-xs;
				}
			}

			textarea {
				max-width: 100%;
			}

			label {

			}

			.img {
				display: inline-block;
				vertical-align: middle;

				span {
					display: block;
				}

				img {
					display: block;
					border: $border;
					border-color: $gray;
					margin: 0;
				}
			}
		}
	}

	.ft {
		@extend %footer;

		> .in {

		}

		ul {

		}

		li {

			&.advanced {
				
			}
		}

		span {

		}

		a {

		}
	}
}