//表單區塊

//內頁搜尋================================================================

.area-form.page-search {

	&.is-active {

		.hd {

			a {
				background-image: image-url('search-up.png');
			}
		}

		.ct {
			display: block;
		}
	}

	> .bg-drop-layout > .in, > .in {

	}

	.hd {

		> .in {

		}

		h4 {

		}

		span {
			display: block;
			text-align: right;
		}

		a {
			$icon_w: 38px;
			$icon_h: 22px;

			@extend %hide-text;
			display: inline-block;
			width: $icon_w;
			height: $icon_h;
			vertical-align: middle;
			background-image: image-url('search-down.png');
			background-repeat: no-repeat;
			background-position: center;
			border-radius: $border-radius;
			border: $border;
			transition: $transition;

			&:hover, &:focus {
				background-color: $light;
			}
		}
	}

	.ct {
		$height: 30px;

		display: none;
		background-color: $light;
		padding: $interval-s;
		margin-top: $interval-s;

		> .in {

		}

		.fieldset {
			display: inline-block;
			margin: $interval-s;

			span {
				display: inline-block;
				vertical-align: middle;

				&:before {
					content: attr(data-before);
				}

				&:after {
					content: attr(data-after);
				}

				&.select {

				}

				&.date {

					input {
						background-image: image-url('icon-pic/calendar.png');
						background-position: center right;
						background-repeat: no-repeat;
					}
				}

				&.search {

				}

				&.submit {

				}

				&.reset {

				}
			}

			select {
				line-height: $height;
				height: $height;
				max-width: 120px;

				option {

				}
			}

			input {

				&[type="search"] {
					line-height: $height;
					height: $height;
				}

				&[type="date"] {
					line-height: $height;
					height: $height;
				}

				&[type="submit"] {
					@extend %btn-imp;
				}

				&[type="reset"] {
					
				}
			}
		}
	}

	.ft {
		@extend %footer;

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}