//自訂
.info {
    .base-extend & {
        background-color: $major-color;
        > .bg-drop-layout > .in,
        > .in {
            @extend %center;
            padding: $interval-xs 0;
            @include media('mobile') {
                display: none;
            }
            > .hd {
                display: none;
                > .in {}
                h3 {}
                span {}
                a {}
            }
            > .ct {
                > .in {
                    text-align: right;
                }
            }
        }
    }

    .base-content & {

        > .bg-drop-layout > .in, > .in {

            > .hd {
                display: none;

                > .in {

                }

                h3 {

                }

                span {
                        
                }

                a {

                }
            }

            > .ct {

                > .in {
                    border-bottom: $border;
                    margin-bottom: $interval-m;
                }
            }
        }
    }

    .base-footer & {
        background-color: $deep;
        color: $white;
        > .bg-drop-layout > .in,
        > .in {
            @extend %center;
            padding: $interval-l 0;
            @include media('mobile') {
                padding: $interval-l;
            }
            > .hd {
                display: none;
                > .in {}
                h3 {}
                span {}
                a {}
            }
            > .ct {
                > .in {
                    &:after {
                        @extend %clear;
                    }
                }
            }
        }
    }
}

.msg-tool {
    position: absolute;
    right: 0;
    top: $interval-s;

    @include js(false) {
        display: none;
    }

    @include media('mobile') {
        display: none;
    }

    > .bg-drop-layout > .in, > .in {

        > .hd {

            > .in {

            }

            h3 {

            }

            span {
                    
            }

            a {

            }
        }

        > .ct {

            > .in {

            }
        }
    }
}
