//框架

//頁尾資訊================================================================

.base-footer {
	padding-top: 60px;
	background-color: $deep;
	background-color: rgba($deep, $opacity-h);

	@include media('mobile') {
		margin-top: 10px;
	}

	> .in {

		> .hd {

			> .in {

			}

			h3 {

			}

			span {

			}
		}

		> .ct {

			> .in {

			}
		}
	}
}