//文字列表

//連結================================================================

.list-text.link {

	.base-mobile & {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

			}

			li {

				+ li {
					border-top: $border;
				}
			}

			span {
				display: block;
			}

			a {
				display: block;
				padding: $interval-m;
			}

			/*i*/.mark {
				
			}
		}

		.ft {
			display: none;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

	.base-extend & {
		display: inline-block;
		vertical-align: middle;
		color: $white;
		margin-right: 15px;

		@include js(false) {
			right: 10px;
		}

		> .bg-drop-layout > .in, > .in {
			
		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {

			}

			ul {

			}

			li {
				display: inline-block;
				vertical-align: middle;
				border-left: 1px solid $white;
				border-right: 1px solid $white;
				
				+ li {
					border-left: 0;
				}
			}

			span {
				display: block;
				padding: 0 $interval-xs;
			}

			a {
				display: block;
				padding: 0 $interval-m;
				border-radius: $border-radius;
				transition: $transition;
				font-size: $font-size-s;

				&:hover {
					color: inherit;
					background-color: deeper($major-color);
				}
			}

			/*i*/.mark {
				display: none;
			}
		}

		.ft {
			display: none;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

	.base-content & {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			@extend %header;

			> .in {

			}

			h4 {
				
			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {

			}

			ul {

			}

			li {

				+ li {
					margin-top: $interval-s;
				}
			}

			span {
				display: block;
			}

			a {
				@extend %ellipsis;
				@extend %list;
				@extend %list-hover;
			}

			/*i*/.mark {
				@extend %mark;
			}
		}

		.ft {
			@extend %footer;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

	.base-footer & {
		margin-bottom: $interval-m;
		color: $minor-color;

		@include js(false) {
			right: 10px;
		}

		@include media('mobile') {
			display: none;
		}

		> .bg-drop-layout > .in, > .in {
			
		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {

			}

			ul {

			}

			li {
				display: inline-block;
				vertical-align: middle;
				
				+ li {
					border-left: 1px solid $minor-color;
					span{
						padding: 0 $interval-m;
					}
				}
			}

			span {
				display: block;
				padding-right: $interval-m;
				    line-height: 12px;
			}

			a {
				display: block;
				border-radius: $border-radius;
				transition: $transition;
				font-size: $font-size-s;

				&:hover {
					color: inherit;
					background-color: $deep;
				}
			}

			/*i*/.mark {
				display: none;
			}
		}

		.ft {
			display: none;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}