//文字列表

//標籤================================================================

.list-text.label {
	@extend %area-page-no-header;

	> .bg-drop-layout > .in, > .in {

	}

	.hd {

		> .in {

		}

		h4 {
			
		}

		span {

		}

		a {

		}
	}

	.ct {

		> .in {
			
		}

		ul {
			text-align: right;
		}

		li {
			display: inline-block;
		}

		span {
			display: block;
		}

		a {
			@extend %mark;
		}

		/*i*/.mark {
			
		}
	}

	.ft {

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}