//圖片列表

//圖片下載================================================================

.list-pic.pic-download {
	@include default-len(4, 3);

	> .bg-drop-layout > .in, > .in {

	}

	.hd {
		@extend %header;

		> .in {

		}

		h4 {
			
		}

		span {
				
		}

		a {

		}
	}

	.ct {

		> .in {
			
		}

		ul {
			
		}

		li {
			@include len-rwd('phone', 2);

			&.is-img {
				
				a {
					@include bg-to-pic('icon-pic/icon-w-img.png', false);
					background-position: bottom $interval-s left $interval-s;
				}
			}

			&.is-video {
				
				a {
					@include bg-to-pic('icon-pic/icon-w-video.png', false);
					background-position: bottom $interval-s left $interval-s;
				}
			}
		}

		span {
			@extend %bg-cover;
			position: relative;
			display: block;
			margin: $interval-s;
			height: 140px;

			@include media('phone') {
				height: 180px;
			}
		}

		a {
			position: absolute;
			display: block;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: transparent;
			transition: $transition;

			&:hover {
				background-color: rgba($black, $opacity-m);
			}

			@include media('mobile') {
				background-color: transparent;
			}
		}

		img {
			display: none;
		}

		/*i*/.mark {
			@extend %mark-absolute;
		}
	}

	.ft {

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}