//文字列表

//熱門關鍵字================================================================

.list-text.hot-key-word {

	.base-mobile & {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {
				
			}

			li {
				border-top: $border;
			}

			span {
				display: block;
			}

			a {
				display: block;
				padding: $interval-m;
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

	.base-wrapper & {
		position: absolute;
		top: 43px;
		right: 325px;

		@include js(false) {
			right: 100px;
		}

		@include media('mobile') {
			display: none;
		}

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: inline-block;
			vertical-align: middle;

			> .in {

			}

			h4 {

				&:after {
					content: ' : ';
				}
			}

			span {
				display: inline-block;
			}

			a {
				display: block;
			}
		}

		.ct {
			display: inline-block;
			vertical-align: middle;

			> .in {
				
			}

			ul {
				
			}

			li {
				display: inline-block;
				vertical-align: middle;
				
				+ li {

					&:before {
						content: ' , ';
					}
				}
			}

			span {
				display: inline-block;
			}

			a {
				display: block;
				font-size: $font-size-xs;
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}