//文字列表

//使用者工具================================================================

.list-text.user-tool {
	display: inline-block;
	vertical-align: middle;

	> .bg-drop-layout > .in, > .in {

	}

	.hd {
		display: none;

		> .in {

		}

		h4 {

		}

		span {

		}

		a {

		}
	}

	.ct {

		> .in {

		}

		ul {

		}

		li {
			vertical-align: middle;
			display: inline-block;

			+ li {
				margin-left: $interval-xs;
			}

			// &.login {

			// 	a {

			// 	}
			// }

			// &.logout {

			// 	a {

			// 	}
			// }

			&.bopomofo {

				a {
					background-image: image-url('icon-pic/user-tool-bopomofo.png');
				}
			}

			// &.edit {

			// 	a {

			// 	}
			// }

			&.print {

				a {
					background-image: image-url('icon-pic/user-tool-print.png');
				}
			}

			&.data {

				a {
					background-image: image-url('icon-pic/user-tool-metadata.png');
				}
			}

			// &.nav-edit {

			// 	a {

			// 	}
			// }

			// &.index-edit {

			// 	a {

			// 	}
			// }

			// &.article-edit {

			// 	a {

			// 	}
			// }
		}

		span {
			display: block;
		}

		a {
			@extend %hide-text;
			display: block;
			width: 24px;
			height: 24px;
			border: $border;
			border-radius: $border-radius;
			background-repeat: no-repeat;
			background-position: center;
			transition: $transition;

			&:hover {
				background-color: $light;
			}
		}

		/*i*/.mark {
			
		}
	}

	.ft {

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}