//簡單文字

//頁面標題================================================================

.simple-text.heading {

	> .bg-drop-layout > .in, > .in {

	}

	.hd {

		> .in {

		}

		h4 {

		}

		span {
				
		}

		a {

		}
	}

	.ct {

		> .in {
			
		}

		h3 {
			@extend %reset;
			font-size: $font-size-xxl;
			padding: $interval-xs;
			// padding-right: 210px;
		}

		span {
			display: block;
		}

		a {

		}

		/*i*/.mark {
			
		}
	}

	.ft {

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}