//簡單文字

//文章標題================================================================

.simple-text.title {

	> .bg-drop-layout > .in, > .in {

	}

	.hd {

		> .in {

		}

		h4 {

		}

		span {
				
		}

		a {

		}
	}

	.ct {

		> .in {
			
		}

		h1 {
			@extend %reset;
			font-size: $font-size-xl;
			padding: $interval-s 0;
		}

		span {
			
		}

		a {
			
			&:hover {
				color: currentColor;
			}
		}

		/*i*/.mark {
			
		}
	}

	.ft {

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}