//模組-框架

//可變換位置

@import 'group_nav'; //選單

@import 'group-list_nav'; //選單

@import 'simple-text_accesskey'; //導盲磚

@import 'simple-text_major-logo'; //主要標誌

@import 'simple-text_minor-logo'; //次要標誌

@import 'simple-text_update-time'; //更新時間

@import 'simple-text_visit-count'; //瀏覽人次

@import 'simple-text_heading'; //頁面標題

@import 'list-pic_icon'; //各種標章

@import 'list-text_link'; //連結

@import 'list-text_share'; //分享

@import 'list-text_font-size'; //字級

@import 'list-text_hot-key-word'; //熱門關鍵字

@import 'list-text_nav'; //選單

@import 'list-text_minor-nav'; //次選單

@import 'list-text_breadcrumb'; //麵包屑

@import 'list-text_open-data'; //開放資料

@import 'list-text_user-tool'; //使用者工具

@import 'area-customize_nav'; //客戶自訂選單


//客製撰寫

@import 'simple-text_btn'; //按鈕


//不可變換位置

@import 'list-text_jump-tool'; //跳轉導航列

@import 'list-multiple_page-click'; //頁次導航列

@import 'list-multiple_page-select'; //頁次導航列

@import 'area-form_search'; //搜尋

@import 'area-editor_address'; //聯絡資訊

@import 'area-customize_recitation'; //朗誦

@import 'group_page-content'; //內頁主要內容

@import 'group_page-footer'; //內頁頁尾

@import 'group_page-header'; //內頁頁首


//頁籤

@import 'list-text_tab'; //頁籤

@import 'group_center'; //置中