.sys-root .base-mobile {
	display: none;
}

.sys-root .base-extend {
	display: none;
}

.sys-root .base-header {
	display: none;
}

.sys-root .base-footer {
	display: none;
}

.sys-root .base-module-area {
	display: none;
}

.sys-root .base-aside {
	display: none;
}

.list-text.jump-tool {
	display: none;
}

.list-multiple.page-select  {
	display: none;
}

.list-multiple.page-click  {
	display: none;
}