//框架

.sys-root {

//行動載具================================================================

	.base-mobile {
		display: none;

		> .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}

//額外資訊================================================================

	.base-extend {
		display: none;

		> .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}

//固定佈局================================================================

	.base-wrapper {

		> .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}

//頁首資訊================================================================

	.base-header {
		display: none;

		> .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}

//主要內容================================================================

	.base-content {

		> .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}

//頁尾資訊================================================================

	.base-footer {
		display: none;

		> .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}

//模組區塊================================================================

	.base-module-area {
		display: none;

		> .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}

//內頁區塊================================================================

	.base-page-area {

		> .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}

//內頁側欄區塊================================================================

	.base-aside {
		display: none;

		> .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}

//內頁內容區塊================================================================

	.base-section {

		> .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}

//文章================================================================

	.base-article{

		> .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}
}