<%= render partial: "/erb/sys_variable" %>

<!-- link 連結 -->
	<%#= render partial: "/erb/list-text_link", locals: set({ header_text: "文字列表" }) %>
<!-- link 結束 -->

<!-- tab 頁籤 -->
	<%#= render partial: "/erb/group-tab_default", locals: set({ index: 7, func_set: "{'tab':{}}", header_text: "頁籤", :inner =>  "/erb/list-text_link" }) %>
<!-- tab 結束 -->

<!-- start -->
<%#= render partial: "/erb/index", locals: set({ header_text: "文字列表" }) %>



<div id="Group_137688_kLibswJE3E" data-widthmobile="100" data-index="3" data-type="3" data-anchor="" data-widthdesktop="100" data-bgcolor="#0000ffff" class="group default" data-groupsn="137688" data-widthpad="100" data-child="1" data-sort="6" data-isgroup="true" data-groupname="活動花絮" data-menuwidth="" data-bgclass="" data-tabtype="3"><div class="in"><div class="hd"><div class="in"><h3 data-index="0">		<span><a onkeypress="this.click();" title="活動花絮">活動花絮</a></span></h3></div></div><div class="ct"><div class="in"> <div id="Group_137689_b87drLrEKY" data-sitesmodulesn="3" data-sort="2" data-bgcolor="" data-groupsn="137689" data-widthdesktop="100" data-anchor="" data-tabtype="0" class="area-customize korea-pic-slider" data-type="0" data-bgclass="" data-index="1" data-widthmobile="100" data-groupname="" data-widthpad="100" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'koreaPicSlider':{}}"><div class="in"><div class="ct"><div class="in"><div class="slider-box">    <div class="pic-area"><a href="#4" class="div" title="美麗島站" target="_self" style="display: block;">  <div class="img"><span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470330/aa247a90-5221-4cef-9e7c-8ac01266e281.jpg')"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470329/e6efded2-ea05-4fc0-813b-19239007518d.jpg" alt="美麗島站"></span></div>  <div class="essay">    <div class="figcaption"><span>台北101</span></div>    <div class="p">      <p><span>台北101座落於臺北市的中心商業區——信義計畫區，最初是為了配合中華民國政府的亞太營運中心政策而籌建的金融服務設施，而後轉變成綜合性的商業建築。
</span></p>    </div>  </div></a>    </div>    <div class="list-area">    	<ul><li data-index="0" class="">		<span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470330/aa247a90-5221-4cef-9e7c-8ac01266e281.jpg');"><a onkeypress="this.click();" href="#1" title="美麗島站，位於臺灣高雄市新興區，為高雄捷運紅線、橘線交會的捷運車站，為高雄捷運初期路網唯一的轉乘車站，通車前計畫暫名為大港埔站。美麗島站是以1979年12月10日在此地爆發、震驚台灣社會和影響民主運動發展的美麗島事件為名。本站由日本建築師高松伸所設計，以祈禱為主題象徵。車站內部之公共藝術作品—光之穹頂，乃由義大利藝術家水仙大師（Narcissus Quagliata）親手打造。本站亦是臺灣第一個以葡萄牙文為譯名的捷運車站。本站設站地點為高雄市中心道路要衝。

美國旅遊網站「BootsnAll」於2012年初評選全世界最美麗的15座地鐵站，美麗島站排名第二名[2]。2014年1月15日，國際知名新聞網站PolicyMic選出「讓紐約客只能夢想的全球8大最美地鐵站」，本站排名第二名。
" target="_self"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470330/aa247a90-5221-4cef-9e7c-8ac01266e281.jpg" alt="美麗島站，位於臺灣高雄市新興區，為高雄捷運紅線、橘線交會的捷運車站，為高雄捷運初期路網唯一的轉乘車站，通車前計畫暫名為大港埔站。美麗島站是以1979年12月10日在此地爆發、震驚台灣社會和影響民主運動發展的美麗島事件為名。本站由日本建築師高松伸所設計，以祈禱為主題象徵。車站內部之公共藝術作品—光之穹頂，乃由義大利藝術家水仙大師（Narcissus Quagliata）親手打造。本站亦是臺灣第一個以葡萄牙文為譯名的捷運車站。本站設站地點為高雄市中心道路要衝。

美國旅遊網站「BootsnAll」於2012年初評選全世界最美麗的15座地鐵站，美麗島站排名第二名[2]。2014年1月15日，國際知名新聞網站PolicyMic選出「讓紐約客只能夢想的全球8大最美地鐵站」，本站排名第二名。
" title="美麗島站"></a></span></li><li data-index="0" class="">		<span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470331/e0ba523c-d5e4-4631-8fef-1b819076c1f0.jpg');"><a onkeypress="this.click();" href="#2" title="攻瑰教堂" target="_self"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470331/e0ba523c-d5e4-4631-8fef-1b819076c1f0.jpg" alt="" title="攻瑰教堂"></a></span></li><li data-index="0" class="">		<span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470328/bd60cb19-45a3-4536-b945-ad2ee3688465.jpg');"><a onkeypress="this.click();" href="#3" title="九份是台灣新北市瑞芳區的一個地區，早期因為盛產金礦而興盛，礦坑挖掘殆盡後從而沒落。1990年代後，因電影《悲情城市》於九份取景，九份的獨特舊式建築、坡地及風情透過此片吸引國內外的注目，也為此地區重新帶來生機，目前已經成為一個很受歡迎的觀光景點。
" target="_self"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470328/bd60cb19-45a3-4536-b945-ad2ee3688465.jpg" alt="九份是台灣新北市瑞芳區的一個地區，早期因為盛產金礦而興盛，礦坑挖掘殆盡後從而沒落。1990年代後，因電影《悲情城市》於九份取景，九份的獨特舊式建築、坡地及風情透過此片吸引國內外的注目，也為此地區重新帶來生機，目前已經成為一個很受歡迎的觀光景點。
" title="九份天燈"></a></span></li><li data-index="0" class="is-active">		<span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470329/e6efded2-ea05-4fc0-813b-19239007518d.jpg');"><a onkeypress="this.click();" href="#4" title="台北101座落於臺北市的中心商業區——信義計畫區，最初是為了配合中華民國政府的亞太營運中心政策而籌建的金融服務設施，而後轉變成綜合性的商業建築。
" target="_self"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470329/e6efded2-ea05-4fc0-813b-19239007518d.jpg" alt="台北101座落於臺北市的中心商業區——信義計畫區，最初是為了配合中華民國政府的亞太營運中心政策而籌建的金融服務設施，而後轉變成綜合性的商業建築。
" title="台北101"></a></span></li>    	</ul>    </div></div><style>
@media (min-width: 960px) {  #Group_137689_b87drLrEKY{width:100%; } }@media (min-width: 768px) and (max-width: 960px) { #Group_137689_b87drLrEKY{width:100%;}}@media (min-width: 520px) and (max-width: 767px) { #Group_137689_b87drLrEKY{width:100%;}}</style>
</div></div><div class="ft"><div class="in"><ul data-index="1" data-child="1"><li data-index="1" class="more">		<span><a onkeypress="this.click();" href="News_Photo.aspx?n=85A1088D0ADABAAF&amp;sms=EDBC20581C2E4C9B" title="更多 相簿" target="_self">更多 相簿</a></span></li></ul>
</div></div></div></div><style>
@media (min-width: 960px) {  #Group_137688_kLibswJE3E{width:100%; } }@media (min-width: 768px) and (max-width: 960px) { #Group_137688_kLibswJE3E{width:100%;}}@media (min-width: 520px) and (max-width: 767px) { #Group_137688_kLibswJE3E{width:100%;}}</style>
</div></div></div></div>