<%= render partial: "/erb/sys_variable" %>

<!-- link 連結 -->
	<%#= render partial: "/erb/list-text_link", locals: set({ header_text: "文字列表" }) %>
<!-- link 結束 -->

<!-- tab 頁籤 -->
	<%#= render partial: "/erb/group-tab_default", locals: set({ index: 7, func_set: "{'tab':{}}", header_text: "頁籤", :inner =>  "/erb/list-text_link" }) %>
<!-- tab 結束 -->

<!-- start -->
<%#= render partial: "/erb/index", locals: set({ header_text: "文字列表" }) %>



<div id="Group_127814_CwoExfGdBK" data-widthmobile="0" data-type="3" data-anchor="" data-widthdesktop="0" data-bgcolor="#0000ffff" class="group base-module-area Wrapper Banner is-phone-hide" data-groupsn="127814" data-widthpad="0" data-child="2" data-sort="" data-isgroup="true" data-groupname="" data-menuwidth="" data-bgclass="Wrapper Banner" data-tabtype="3"><div class="in"><div class="ct"><div class="in"><div id="Group_127815_LKTammB7yj" data-widthmobile="" data-index="1" data-sitesmodulesn="74" data-anchor="" data-widthdesktop="" data-bgcolor="" class="simple-pic default" data-groupsn="127815" data-widthpad="" data-sort="2" data-isgroup="true" data-groupname="" data-type="0" data-menuwidth="" data-bgclass="" data-tabtype="0"><div class="in"><div class="ct"><div class="in"></div></div></div></div><div id="Group_127816_gQyJCgLekm" data-sitesmodulesn="6" data-bgcolor="" data-sort="4" data-type="0" data-groupsn="127816" data-widthdesktop="" data-anchor="" data-tabtype="0" class="area-editor default" data-bgclass="" data-index="2" data-widthmobile="" data-groupname="" data-widthpad="" data-menuwidth="" data-isgroup="true" data-child="1"><div class="in"><div class="ct"><div class="in"><p><img alt="Art editor Img" src="http://hscp-ws.hamastar.com.tw/Download.ashx?u=LzAwMS9hZG1pbmlzdHJhdG9yLzI0ODUvY2tmaWxlL2MwYzM4MDJlLWMxMjUtNGQ0Mi1iOGZjLTc1NjU2ZjRiMzM0MEAxMDI0eDc2OC5wbmc%3d&amp;n=6IqxIOe0sOmVty5wbmc%3d" style="width: 100%;"></p>
</div></div></div></div></div></div></div></div>