<!-- notitle01_pager-->
<div class="area-customize notitle01-pager" data-index="3" data-type="0">
    <div class="in">
        <div class="hd">
            <div class="in">
                <h4><span><a href="#">客製分頁與筆數</a></span></h4>
            </div>
        </div>
        <div class="ct">
            <div class="in">
                <ul class="page" data-index="3" data-child="8">
                    <li data-index="1"><span><a href="#">1</a></span></li>
                    <li data-index="1"><span class="page_empty">...</span></li>
                    <li data-index="2"><span><a href="#">2</a></span></li>
                    <li data-index="3"><span><a href="#">3</a></span></li>
                    <li data-index="4" class="is-active"><span><a href="#">4</a></span></li>
                    <li data-index="5"><span><a href="#">5</a></span></li>
                    <li data-index="6"><span><a href="#">6</a></span></li>
                    <li data-index="1"><span class="page_empty">...</span></li>
                    <li data-index="8"><span><a href="#">6927</a></span></li>
                </ul>
                <!-- 筆數 -->
                <ul class="single" data-index="3" data-child="3">
                    <li data-index="1">
                        <span class="select">
                            <label>每頁筆數</label>
                            <select>
                                <option selected="">1</option>
                            </select>
                            <a href="#" class="btn"><span>go</span></a>
                        </span>
                    </li>
                    <li data-index="3">
                        <span class="count"><i>/</i>69270</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>