<div class="group base-module-area" id="base-module-area" data-index="<%= index %>" data-type="<%= $row %>" data-child="1"><div class="in">
	<div class="ct"><div class="in">

	<!-- major-slider 主輪播 -->
		<%= render partial: "/erb/group-list_major-slider", locals: set({ index: 1, func_set: "{'picSlider':{'auto':false,'delay':5000,'speed':300,'sliderType':4}}", header_text: "主輪播" }) %>
	<!-- slider 結束 -->

	</div></div>
</div></div>