
    <div id="Group_129020_i4owLXkfoE" data-widthmobile="" data-index="1" data-type="3" data-anchor="" data-widthdesktop="" data-bgcolor="#0000ffff" class="group default mainslider" data-groupsn="129020" data-widthpad="" data-child="1" data-sort="2" data-isgroup="true" data-groupname="" data-menuwidth="" data-bgclass="slider" data-tabtype="3">
        <div class="in">
            <div class="ct">
                <div class="in">
                <!-- 1 -->
                    <div id="Group_129021_77YpW4XrbI" data-sitesmodulesn="67" data-sort="2" data-bgcolor="" data-groupsn="129021" data-widthdesktop="" data-anchor="" data-tabtype="0" class="group-list major-slider" data-type="4" data-bgclass="" data-index="1" data-widthmobile="" data-groupname="" data-widthpad="" data-menuwidth="" data-isgroup="true" data-child="3" data-funclog="{'picSlider':{'auto':true,'delay':8000,'speed':600,'animateType':1,'sliderType':2,'sliceLeng':10}}">
                        <div class="in">
                            <div class="ct">
                                <div class="in">
                                    <ul data-index="1" data-child="3" style="position: relative; overflow: hidden;">
                                        <li data-index="1" style="display: none;">
                                            <div class="simple-pic default" data-index="1" data-type="0" data-child="1">
                                                <div class="in">
                                                    <div class="ct">
                                                        <div class="in"> <span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19180/470398/b2562b3a-755a-4c4a-897f-159cc34020e6.jpg');"><a onkeypress="this.click();" href="http://www.npac-ntt.org/index" title="[開啟新連結]台中歌劇院" target="_blank"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19180/470398/b2562b3a-755a-4c4a-897f-159cc34020e6.jpg" alt="台中歌劇院" title="台中歌劇院"></a></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li data-index="2" style="display: none;">
                                            <div class="simple-pic default" data-index="2" data-type="0" data-child="1">
                                                <div class="in">
                                                    <div class="ct">
                                                        <div class="in"> <span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19180/470396/e08c6e2c-8484-4ce7-a9f0-d0f055e88193.jpg');"><a onkeypress="this.click();" href="http://www.ntcri.gov.tw/" title="[開啟新連結]國立台灣工藝研究中心" target="_blank"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19180/470396/e08c6e2c-8484-4ce7-a9f0-d0f055e88193.jpg" alt="國立台灣工藝研究中心" title="國立台灣工藝研究中心"></a></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li data-index="3" style="display: list-item;">
                                            <div class="simple-pic default" data-index="3" data-type="0" data-child="1">
                                                <div class="in">
                                                    <div class="ct">
                                                        <div class="in"> <span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19180/470397/2cb14ac5-1b21-419a-abd7-767f4f9f07b4.jpg');"><a onkeypress="this.click();" href="http://event2.culture.tw/NTCRI/portal/Registration/C0103MAction?actId=70011" title="[開啟新連結]蒔令．厚生活-2016陶瓷研究會" target="_blank"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19180/470397/2cb14ac5-1b21-419a-abd7-767f4f9f07b4.jpg" alt="蒔令．厚生活-2016陶瓷研究會" title="蒔令．厚生活-2016陶瓷研究會"></a></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <div style="position: absolute; right: 0px; left: 0px; display: none;"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19180/470398/b2562b3a-755a-4c4a-897f-159cc34020e6.jpg" style="display: block; width: 100%;"></div>
                                    </ul>
                                </div>
                            </div>
                            <div class="ft">
                                <div class="in">
                                    <ul data-index="0" data-child="5">
                                        <li class="prev"><span><a href="#">prev</a></span></li>
                                        <li class="next"><span><a href="#">next</a></span></li>
                                        <li class="slider-item1 is-dot"><span><a href="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19180/470398/b2562b3a-755a-4c4a-897f-159cc34020e6.jpg" title="台中歌劇院">台中歌劇院</a></span></li>
                                        <li class="slider-item2 is-dot"><span><a href="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19180/470396/e08c6e2c-8484-4ce7-a9f0-d0f055e88193.jpg" title="國立台灣工藝研究中心">國立台灣工藝研究中心</a></span></li>
                                        <li class="slider-item3 is-dot is-active"><span><a href="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19180/470397/2cb14ac5-1b21-419a-abd7-767f4f9f07b4.jpg" title="蒔令．厚生活-2016陶瓷研究會">蒔令．厚生活-2016陶瓷研究會</a></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2 -->
    <div id="Group_129022_FXIGYjMvKK" data-widthmobile="" data-index="2" data-type="1" data-anchor="" data-widthdesktop="" data-bgcolor="#0000ffff" class="group default media" data-groupsn="129022" data-widthpad="" data-child="3" data-sort="4" data-isgroup="true" data-groupname="" data-menuwidth="" data-bgclass="media" data-tabtype="1">
        <div class="in">
            <div class="ct">
                <div class="in">
                    <div id="Group_129023_TYpiDgbDhS" data-widthmobile="0" data-bgcolor="" data-sort="2" data-type="2" data-groupsn="129023" data-widthdesktop="60" data-anchor="" data-tabtype="2" class="group-tab default" data-bgclass="" data-index="1" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="4" data-funclog="{ 'tab':{ } }">
                        <div class="in">
                            <div class="ct">
                                <div class="in">
                                    <ul data-index="1" data-child="4">
                                        <li data-index="1">
                                            <div class="list-text tab" data-type="0" data-child="1">
                                                <div class="in">
                                                    <div class="ct">
                                                        <div class="in">
                                                            <ul data-index="1" data-child="3">
                                                                <li data-index="1" class="is-active"> <span><a onkeypress="this.click();" href="#Group_129024_JHod57L6Aj" title="最新消息" target="_self">最新消息</a></span></li>
                                                                <li data-index="2"> <span><a onkeypress="this.click();" href="#Group_129025_rAqaEtn6GL" title="活動訊息" target="_self">活動訊息</a></span></li>
                                                                <li data-index="3"> <span><a onkeypress="this.click();" href="#Group_129026_weXfrJBtQR" title="新聞稿" target="_self">新聞稿</a></span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li data-index="2" style="display: list-item;">
                                            <div id="Group_129024_JHod57L6Aj" data-sitesmodulesn="1" data-bgcolor="#0000ffff" data-sort="0" data-type="4" data-groupsn="129024" data-widthdesktop="100" data-anchor="" data-tabtype="0" class="group-list slider" data-bgclass="" data-index="1" data-widthmobile="0" data-groupname="最新消息" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1">
                                                <div class="in">
                                                    <div class="hd">
                                                        <div class="in">
                                                            <h3 data-index="0">    <span><a onkeypress="this.click();" title="最新消息">最新消息</a></span></h3></div>
                                                    </div>
                                                    <div class="ct">
                                                        <div class="in">
                                                            <ul data-index="1" data-child="1">
                                                                <li data-index="1">
                                                                    <div class="group-list message" data-index="1" data-type="4" data-child="5">
                                                                        <div class="in">
                                                                            <div class="ct">
                                                                                <div class="in">
                                                                                    <ul data-index="1" data-child="5">
                                                                                        <li data-index="1">
                                                                                            <div class="area-essay message" data-index="1" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in">
                                                                                                            <a href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=FD5B5CF8F121E53F" class="div" title="哈瑪星人之職涯發展" target="_self">
                                                                                                                <div class="img"><span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19130/470300/95392bac-7436-450c-8145-a3b4b60d5be2.png')"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19130/470300/95392bac-7436-450c-8145-a3b4b60d5be2.png" alt="哈瑪星人之職涯發展"></span></div>
                                                                                                                <div class="essay">
                                                                                                                    <div class="caption"><span>哈瑪星人之職涯發展</span></div>
                                                                                                                    <div class="label">
                                                                                                                        <ul>
                                                                                                                            <li><span><i class="mark">106-02-08</i></span></li>
                                                                                                                        </ul>
                                                                                                                    </div>
                                                                                                                    <div class="p">
                                                                                                                        <p><span>員工職涯發展是一連串  ...更多</span></p>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                        <li data-index="2">
                                                                                            <div class="simple-text message" data-index="2" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in"> <span><a onkeypress="this.click();" href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=41D242DC8E5B5F48" title="哈瑪星人之工作環境" target="_self"> <i class="mark">106-02-08</i>哈瑪星人之工作環境</a></span></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                        <li data-index="3">
                                                                                            <div class="simple-text message" data-index="3" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in"> <span><a onkeypress="this.click();" href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=8FECCA0427A72E70" title="哈瑪星人之教育傳承" target="_self"> <i class="mark">106-02-08</i>哈瑪星人之教育傳承</a></span></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                        <li data-index="4">
                                                                                            <div class="simple-text message" data-index="4" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in"> <span><a onkeypress="this.click();" href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=C6775647C4F4F2B1" title="企業理念願景" target="_self"> <i class="mark">106-02-08</i>企業理念願景</a></span></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                        <li data-index="5">
                                                                                            <div class="simple-text message" data-index="5" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in"> <span><a onkeypress="this.click();" href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=43D52059A66ADE2D" title="獎項實績" target="_self"> <i class="mark">106-02-08</i>獎項實績</a></span></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <style>
                                                            @media (min-width: 960px) {
                                                                #Group_129024_JHod57L6Aj {
                                                                    width: 100%;
                                                                }
                                                            }
                                                            </style>
                                                        </div>
                                                    </div>
                                                    <div class="ft">
                                                        <div class="in">
                                                            <ul data-index="1" data-child="1">
                                                                <li data-index="1" class="more"> <span><a onkeypress="this.click();" href="News.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D" title="更多 關於哈瑪星人" target="_self">更多 關於哈瑪星人</a></span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li data-index="3" style="display: none;">
                                            <div id="Group_129025_rAqaEtn6GL" data-sitesmodulesn="1" data-bgcolor="" data-sort="1" data-type="4" data-groupsn="129025" data-widthdesktop="" data-anchor="" data-tabtype="0" class="group-list slider" data-bgclass="" data-index="2" data-widthmobile="" data-groupname="" data-widthpad="" data-menuwidth="" data-isgroup="true" data-child="1">
                                                <div class="in">
                                                    <div class="hd">
                                                        <div class="in">
                                                            <h3 data-index="0">   <span><a onkeypress="this.click();" title="活動訊息">活動訊息</a></span></h3></div>
                                                    </div>
                                                    <div class="ct">
                                                        <div class="in">
                                                            <ul data-index="1" data-child="1">
                                                                <li data-index="1">
                                                                    <div class="group-list message" data-index="1" data-type="4" data-child="5">
                                                                        <div class="in">
                                                                            <div class="ct">
                                                                                <div class="in">
                                                                                    <ul data-index="1" data-child="5">
                                                                                        <li data-index="1">
                                                                                            <div class="area-essay message" data-index="1" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in">
                                                                                                            <a href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=FD5B5CF8F121E53F" class="div" title="哈瑪星人之職涯發展" target="_self">
                                                                                                                <div class="img"><span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19130/470300/95392bac-7436-450c-8145-a3b4b60d5be2.png')"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19130/470300/95392bac-7436-450c-8145-a3b4b60d5be2.png" alt="哈瑪星人之職涯發展"></span></div>
                                                                                                                <div class="essay">
                                                                                                                    <div class="caption"><span>哈瑪星人之職涯發展</span></div>
                                                                                                                    <div class="label">
                                                                                                                        <ul>
                                                                                                                            <li><span><i class="mark">106-02-08</i></span></li>
                                                                                                                        </ul>
                                                                                                                    </div>
                                                                                                                    <div class="p">
                                                                                                                        <p><span>員工職涯發展是一連串的正式或非正式的教育、訓練、工作經驗等發展活動，其目的在使個人能在將來擔任更高的職位。而其中最重要的是搭配教育訓練，利用教育訓練及工作中學習作為未來職涯的發展。

發展規劃-(職涯發展)組織需求分析、職務分析、個人特質分析、訓練需求評估、安排培訓、多樣化訓練等。

工作生  ...更多</span></p>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                        <li data-index="2">
                                                                                            <div class="simple-text message" data-index="2" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in"> <span><a onkeypress="this.click();" href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=41D242DC8E5B5F48" title="哈瑪星人之工作環境" target="_self"> <i class="mark">106-02-08</i>哈瑪星人之工作環境</a></span></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                        <li data-index="3">
                                                                                            <div class="simple-text message" data-index="3" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in"> <span><a onkeypress="this.click();" href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=8FECCA0427A72E70" title="哈瑪星人之教育傳承" target="_self"> <i class="mark">106-02-08</i>哈瑪星人之教育傳承</a></span></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                        <li data-index="4">
                                                                                            <div class="simple-text message" data-index="4" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in"> <span><a onkeypress="this.click();" href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=C6775647C4F4F2B1" title="企業理念願景" target="_self"> <i class="mark">106-02-08</i>企業理念願景</a></span></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                        <li data-index="5">
                                                                                            <div class="simple-text message" data-index="5" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in"> <span><a onkeypress="this.click();" href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=43D52059A66ADE2D" title="獎項實績" target="_self"> <i class="mark">106-02-08</i>獎項實績</a></span></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="ft">
                                                        <div class="in">
                                                            <ul data-index="1" data-child="1">
                                                                <li data-index="1" class="more"> <span><a onkeypress="this.click();" href="News.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D" title="更多 關於哈瑪星人" target="_self">更多 關於哈瑪星人</a></span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li data-index="4" style="display: none;">
                                            <div id="Group_129026_weXfrJBtQR" data-sitesmodulesn="1" data-bgcolor="" data-sort="2" data-type="4" data-groupsn="129026" data-widthdesktop="" data-anchor="" data-tabtype="0" class="group-list slider" data-bgclass="" data-index="3" data-widthmobile="" data-groupname="" data-widthpad="" data-menuwidth="" data-isgroup="true" data-child="1">
                                                <div class="in">
                                                    <div class="hd">
                                                        <div class="in">
                                                            <h3 data-index="0">   <span><a onkeypress="this.click();" title="新聞稿">新聞稿</a></span></h3></div>
                                                    </div>
                                                    <div class="ct">
                                                        <div class="in">
                                                            <ul data-index="1" data-child="1">
                                                                <li data-index="1">
                                                                    <div class="group-list message" data-index="1" data-type="4" data-child="5">
                                                                        <div class="in">
                                                                            <div class="ct">
                                                                                <div class="in">
                                                                                    <ul data-index="1" data-child="5">
                                                                                        <li data-index="1">
                                                                                            <div class="area-essay message" data-index="1" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in">
                                                                                                            <a href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=FD5B5CF8F121E53F" class="div" title="哈瑪星人之職涯發展" target="_self">
                                                                                                                <div class="img"><span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19130/470300/95392bac-7436-450c-8145-a3b4b60d5be2.png')"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19130/470300/95392bac-7436-450c-8145-a3b4b60d5be2.png" alt="哈瑪星人之職涯發展"></span></div>
                                                                                                                <div class="essay">
                                                                                                                    <div class="caption"><span>哈瑪星人之職涯發展</span></div>
                                                                                                                    <div class="label">
                                                                                                                        <ul>
                                                                                                                            <li><span><i class="mark">106-02-08</i></span></li>
                                                                                                                        </ul>
                                                                                                                    </div>
                                                                                                                    <div class="p">
                                                                                                                        <p><span>員工職涯發展是一連串的正式或非正式的教育、訓練、工作經驗等發展活動，其目的在使個人能在將來擔任更高的職位。而其中最重要的是搭配教育訓練，利用教育訓練及工作中學習作為未來職涯的發展。

發展規劃-(職涯發展)組織需求分析、職務分析、個人特質分析、訓練需求評估、安排培訓、多樣化訓練等。

工作生  ...更多</span></p>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                        <li data-index="2">
                                                                                            <div class="simple-text message" data-index="2" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in"> <span><a onkeypress="this.click();" href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=41D242DC8E5B5F48" title="哈瑪星人之工作環境" target="_self"> <i class="mark">106-02-08</i>哈瑪星人之工作環境</a></span></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                        <li data-index="3">
                                                                                            <div class="simple-text message" data-index="3" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in"> <span><a onkeypress="this.click();" href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=8FECCA0427A72E70" title="哈瑪星人之教育傳承" target="_self"> <i class="mark">106-02-08</i>哈瑪星人之教育傳承</a></span></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                        <li data-index="4">
                                                                                            <div class="simple-text message" data-index="4" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in"> <span><a onkeypress="this.click();" href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=C6775647C4F4F2B1" title="企業理念願景" target="_self"> <i class="mark">106-02-08</i>企業理念願景</a></span></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                        <li data-index="5">
                                                                                            <div class="simple-text message" data-index="5" data-type="0" data-child="1">
                                                                                                <div class="in">
                                                                                                    <div class="ct">
                                                                                                        <div class="in"> <span><a onkeypress="this.click();" href="News_Content.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D&amp;s=43D52059A66ADE2D" title="獎項實績" target="_self"> <i class="mark">106-02-08</i>獎項實績</a></span></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="ft">
                                                        <div class="in">
                                                            <ul data-index="1" data-child="1">
                                                                <li data-index="1" class="more"> <span><a onkeypress="this.click();" href="News.aspx?n=1C24E032BF5EAE53&amp;sms=4D44ED7F4DCD436D" title="更多 關於哈瑪星人" target="_self">更多 關於哈瑪星人</a></span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <style>
                                    @media (min-width: 960px) {
                                        #Group_129023_TYpiDgbDhS {
                                            width: 60%;
                                        }
                                    }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Group_129027_dWncnsKtUm" data-sitesmodulesn="4" data-bgcolor="#0000ffff" data-sort="4" data-type="0" data-groupsn="129027" data-widthdesktop="40" data-anchor="" data-tabtype="0" class="area-customize video" data-bgclass="" data-index="2" data-widthmobile="0" data-groupname="影音專區" data-widthpad="30" data-menuwidth="" data-isgroup="true" data-child="1">
                        <div class="in">
                            <div class="hd">
                                <div class="in">
                                    <h4 data-index="0">   <span><a onkeypress="this.click();" title="影音專區">影音專區</a></span></h4></div>
                            </div>
                            <div class="ct">
                                <div class="in">
                                    <div class="video" id="">
                                        <iframe title="" id="YouTube_" style="height:245px;" allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/fa49x1ZtDnI"></iframe>
                                        <noscript>&lt;a href="https://www.youtube.com/embed/fa49x1ZtDnI" title=""&gt;&lt;/a&gt;</noscript>
                                    </div>
                                    <div class="essay">
                                        <div class="figcaption"><span>2017 101 跨年 煙火</span></div>
                                        <div class="label">
                                            <ul>
                                                <li><span><i class="mark">106-02-08</i></span></li>
                                            </ul>
                                        </div>
                                        <div class="p">
                                            <p><span>台北101（TAIPEI 101[4]）是位於中華民國臺北市信義區的摩天大樓，樓高509.2公尺（1,671英尺），地上樓層共有101層、另有地下5層，總樓地板面積37萬4千平方公  ...更多</span></p>
                                        </div>
                                    </div>
                                    <style>
                                    @media (min-width: 960px) {
                                        #Group_129027_dWncnsKtUm {
                                            width: 40%;
                                        }
                                    }
                                    
                                    @media (min-width: 768px) and (max-width: 960px) {
                                        #Group_129027_dWncnsKtUm {
                                            width: 30%;
                                        }
                                    }
                                    </style>
                                </div>
                            </div>
                            <div class="ft">
                                <div class="in">
                                    <ul data-index="1" data-child="1">
                                        <li data-index="1" class="more"> <span><a onkeypress="this.click();" href="News_Video.aspx?n=61208AE3948D5168&amp;sms=D45E7313A2C7BA8D" title="更多 影音" target="_self">更多 影音</a></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Group_129028_bmdJ4tExUP" data-widthmobile="0" data-index="3" data-type="1" data-anchor="" data-widthdesktop="100" data-bgcolor="#0000ffff" class="group default" data-groupsn="129028" data-widthpad="0" data-child="1" data-sort="6" data-isgroup="true" data-groupname="活動花絮" data-menuwidth="" data-bgclass="" data-tabtype="1">
                        <div class="in">
                            <div class="hd">
                                <div class="in">
                                    <h3 data-index="0">   <span><a onkeypress="this.click();" title="活動花絮">活動花絮</a></span></h3></div>
                            </div>
                            <div class="ct">
                                <div class="in">
                                    <div id="Group_129029_GQcqTJfEMg" data-sitesmodulesn="3" data-sort="2" data-bgcolor="" data-groupsn="129029" data-widthdesktop="100" data-anchor="" data-tabtype="0" class="area-customize korea-pic-slider" data-type="0" data-bgclass="" data-index="1" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'koreaPicSlider':{}}">
                                        <div class="in">
                                            <div class="ct">
                                                <div class="in">
                                                    <div class="slider-box">
                                                        <div class="pic-area">
                                                            <a href="#2" class="div" title="美麗島站" target="_self" style="display: block; opacity: 0.177271;">
                                                                <div class="img"><span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470330/aa247a90-5221-4cef-9e7c-8ac01266e281.jpg')"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470331/e0ba523c-d5e4-4631-8fef-1b819076c1f0.jpg" alt="美麗島站"></span></div>
                                                                <div class="essay">
                                                                    <div class="figcaption"><span>攻瑰教堂</span></div>
                                                                    <div class="p">
                                                                        <p><span></span></p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="list-area">
                                                            <ul>
                                                                <li data-index="0" class=""> <span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470330/aa247a90-5221-4cef-9e7c-8ac01266e281.jpg');"><a onkeypress="this.click();" href="#1" title="美麗島站，位於臺灣高雄市新興區，為高雄捷運紅線、橘線交會的捷運車站，為高雄捷運初期路網唯一的轉乘車站，通車前計畫暫名為大港埔站。美麗島站是以1979年12月10日在此地爆發、震驚台灣社會和影響民主運動發展的美麗島事件為名。本站由日本建築師高松伸所設計，以祈禱為主題象徵。車站內部之公共藝術作品—光之穹頂，乃由義大利藝術家水仙大師（Narcissus Quagliata）親手打造。本站亦是臺灣第一個以葡萄牙文為譯名的捷運車站。本站設站地點為高雄市中心道路要衝。

美國旅遊網站「BootsnAll」於2012年初評選全世界最美麗的15座地鐵站，美麗島站排名第二名[2]。2014年1月15日，國際知名新聞網站PolicyMic選出「讓紐約客只能夢想的全球8大最美地鐵站」，本站排名第二名。
" target="_self"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470330/aa247a90-5221-4cef-9e7c-8ac01266e281.jpg" alt="美麗島站，位於臺灣高雄市新興區，為高雄捷運紅線、橘線交會的捷運車站，為高雄捷運初期路網唯一的轉乘車站，通車前計畫暫名為大港埔站。美麗島站是以1979年12月10日在此地爆發、震驚台灣社會和影響民主運動發展的美麗島事件為名。本站由日本建築師高松伸所設計，以祈禱為主題象徵。車站內部之公共藝術作品—光之穹頂，乃由義大利藝術家水仙大師（Narcissus Quagliata）親手打造。本站亦是臺灣第一個以葡萄牙文為譯名的捷運車站。本站設站地點為高雄市中心道路要衝。

美國旅遊網站「BootsnAll」於2012年初評選全世界最美麗的15座地鐵站，美麗島站排名第二名[2]。2014年1月15日，國際知名新聞網站PolicyMic選出「讓紐約客只能夢想的全球8大最美地鐵站」，本站排名第二名。
" title="美麗島站"></a></span></li>
                                                                <li data-index="0" class="is-active"> <span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470331/e0ba523c-d5e4-4631-8fef-1b819076c1f0.jpg');"><a onkeypress="this.click();" href="#2" title="攻瑰教堂" target="_self"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470331/e0ba523c-d5e4-4631-8fef-1b819076c1f0.jpg" alt="" title="攻瑰教堂"></a></span></li>
                                                                <li data-index="0" class=""> <span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470328/bd60cb19-45a3-4536-b945-ad2ee3688465.jpg');"><a onkeypress="this.click();" href="#3" title="九份是台灣新北市瑞芳區的一個地區，早期因為盛產金礦而興盛，礦坑挖掘殆盡後從而沒落。1990年代後，因電影《悲情城市》於九份取景，九份的獨特舊式建築、坡地及風情透過此片吸引國內外的注目，也為此地區重新帶來生機，目前已經成為一個很受歡迎的觀光景點。
" target="_self"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470328/bd60cb19-45a3-4536-b945-ad2ee3688465.jpg" alt="九份是台灣新北市瑞芳區的一個地區，早期因為盛產金礦而興盛，礦坑挖掘殆盡後從而沒落。1990年代後，因電影《悲情城市》於九份取景，九份的獨特舊式建築、坡地及風情透過此片吸引國內外的注目，也為此地區重新帶來生機，目前已經成為一個很受歡迎的觀光景點。
" title="九份天燈"></a></span></li>
                                                                <li data-index="0" class=""> <span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470329/e6efded2-ea05-4fc0-813b-19239007518d.jpg');"><a onkeypress="this.click();" href="#4" title="台北101座落於臺北市的中心商業區——信義計畫區，最初是為了配合中華民國政府的亞太營運中心政策而籌建的金融服務設施，而後轉變成綜合性的商業建築。
" target="_self"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19140/470329/e6efded2-ea05-4fc0-813b-19239007518d.jpg" alt="台北101座落於臺北市的中心商業區——信義計畫區，最初是為了配合中華民國政府的亞太營運中心政策而籌建的金融服務設施，而後轉變成綜合性的商業建築。
" title="台北101"></a></span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <style>
                                                    @media (min-width: 960px) {
                                                        #Group_129029_GQcqTJfEMg {
                                                            width: 100%;
                                                        }
                                                    }
                                                    </style>
                                                </div>
                                            </div>
                                            <div class="ft">
                                                <div class="in">
                                                    <ul data-index="1" data-child="1">
                                                        <li data-index="1" class="more"> <span><a onkeypress="this.click();" href="News_Photo.aspx?n=85A1088D0ADABAAF&amp;sms=EDBC20581C2E4C9B" title="更多 相簿" target="_self">更多 相簿</a></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <style>
                                    @media (min-width: 960px) {
                                        #Group_129028_bmdJ4tExUP {
                                            width: 100%;
                                        }
                                    }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Group_129030_sGThAe9pPn" data-widthmobile="" data-index="3" data-type="3" data-anchor="" data-widthdesktop="" data-bgcolor="#0000ffff" class="group default ad" data-groupsn="129030" data-widthpad="" data-child="1" data-sort="6" data-isgroup="true" data-groupname="" data-menuwidth="" data-bgclass="ad" data-tabtype="3">
        <div class="in">
            <div class="ct">
                <div class="in">
                    <div id="Group_129031_dJtrg4aIBU" data-sitesmodulesn="5" data-sort="2" data-bgcolor="" data-groupsn="129031" data-widthdesktop="" data-anchor="" data-tabtype="0" class="list-pic marquee" data-type="0" data-bgclass="" data-index="1" data-widthmobile="" data-groupname="" data-widthpad="" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'marqueeHorizontal':{'auto':true,'delay':5000,'speed':500}}">
                        <div class="in">
                            <div class="hd">
                                <div class="in">
                                    <h4 data-index="0">   <span><a onkeypress="this.click();" title="連結-跑馬燈">連結-跑馬燈</a></span></h4></div>
                            </div>
                            <div class="ct">
                                <div class="in">
                                    <ul data-index="1" data-child="5" style="margin-left: -5.73598%;">
                                        <li data-index="5"> <span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19146/470345/cb2fc2a6-f772-43b0-aca8-bb229e5069ea@710x470.png');"><a onkeypress="this.click();" href="http://www.onetw.com.tw/" title="花卉235104" target="_self"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19146/470345/cb2fc2a6-f772-43b0-aca8-bb229e5069ea@710x470.png" alt="花卉235104" title="花卉235104"></a></span></li>
                                        <li data-index="1"> <span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19146/470341/f44f9aa5-1a0e-402b-9f86-7194f190188e@710x470.png');"><a onkeypress="this.click();" href="http://www.tva.org.tw/" title="ILOVETAIWAN" target="_self"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19146/470341/f44f9aa5-1a0e-402b-9f86-7194f190188e@710x470.png" alt="ILOVETAIWAN" title="ILOVETAIWAN"></a></span></li>
                                        <li data-index="2"> <span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19146/470342/7c6e798f-522a-442b-ac04-614d4b87c6c2@710x470.png');"><a onkeypress="this.click();" href="http://tour.taitung.gov.tw/zh-tw/Home/Index" title="台東縣觀光旅遊網" target="_self"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19146/470342/7c6e798f-522a-442b-ac04-614d4b87c6c2@710x470.png" alt="台東縣觀光旅遊網" title="台東縣觀光旅遊網"></a></span></li>
                                        <li data-index="3"> <span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19146/470343/950ac1b9-8569-464b-9722-b9a199dbdd8e@710x470.png');"><a onkeypress="this.click();" href="http://khh.travel/" title="高雄旅遊網" target="_self"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19146/470343/950ac1b9-8569-464b-9722-b9a199dbdd8e@710x470.png" alt="高雄旅遊網" title="高雄旅遊網"></a></span></li>
                                        <li data-index="4"> <span style="background-image: url('http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19146/470344/fb99a88c-cae2-44d6-a518-da872790a75d@710x470.png');"><a onkeypress="this.click();" href="https://www.travel.taipei/" title="台北旅遊網" target="_self"><img src="http://hscp-ws.hamastar.com.tw/001/administrator/2491/relpic/19146/470344/fb99a88c-cae2-44d6-a518-da872790a75d@710x470.png" alt="台北旅遊網" title="台北旅遊網"></a></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ft">
                                <div class="in">
                                    <ul data-index="1" data-child="3">
                                        <li data-index="1" class="more"> <span><a onkeypress="this.click();" href="News.aspx?n=1BED74ABD6AC7937&amp;sms=73AB51B8E07F2110" title="更多 相關連結" target="_self">更多 相關連結</a></span></li>
                                        <li class="prev"><span><a href="#">prev</a></span></li>
                                        <li class="next"><span><a href="#">next</a></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
