<%= render partial: "/erb/sys_variable" %>

<link rel="stylesheet" media="screen" href="/css/cp.css"> <!-- cp 頁 -->

<!-- <div class="area-editor cp" data-index="1" data-type="0"><div class="in">
	<div class="hd"><div class="in">
		<h4><span><a href="#">cp 頁框架</a></span></h4>
	</div></div>
	<div class="ct"><div class="in">
		
		...

	</div></div>
</div></div> -->

<div class="list-text btn" data-type="0" data-child="1">
  <div class="in">
    <div class="ct">
      <div class="in">
        <ul data-index="1" data-child="3">
          <li data-index="1">  
            <span>
              <a onkeypress="this.click();" href="MessageManager.aspx?n=9760B37A90ED3784" title="查詢" target="_self" class="aspx?n=9760B37A90ED3784">查詢
              </a>
            </span>
          </li>
          <li data-index="2">  
            <span>
              <a onkeypress="this.click();" href="Common/SurveyMemberLogout.ashx" title="會員登出" target="_self" class="ashx">會員登出
              </a>
            </span>
          </li>
          <li data-index="3">  
            <span>
              <a onkeypress="this.click();" href="Survey_ModifyPW.aspx?n=9760B37A90ED3784&amp;url=http://hic-pthg.hamastar.com.tw/Integrationtest/Message.aspx?n=9760B37A90ED3784&amp;sms=84725CD03CD76795" title="會員修改密碼" target="_self" class="aspx?n=9760B37A90ED3784&amp;sms=84725CD03CD76795">會員修改密碼
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="area-form page-form " data-index="2" data-type="0">
  <div class="in">
    <div class="ct">
      <div class="in">
        <div class="form">
          <div class="fieldset">
            <span class="email">
              <label>信箱：
              </label>
              <input name="ctl00$ContentPlaceHolder1$txtColumn_12" type="text" value="AnitaWu@mail.hamastar.com.tw" id="ContentPlaceHolder1_txtColumn_12" disabled="disabled" class="aspNetDisabled" style="width:350px;">
            </span>
            <span class="textarea is-required">
              <label>電話：
              </label>
              <input name="ctl00$ContentPlaceHolder1$txtColumn_12" type="text" value="" id="ContentPlaceHolder1_txtColumn_12" class="aspNetDisabled" style="width:350px;">
            </span>
            <span class="select is-required">
              <label>主題：
              </label>
              <select name="ctl00$ContentPlaceHolder1$c_669" id="ContentPlaceHolder1_c_669">
                <option selected="selected" value="207">
                </option>
                <option value="208">主題1
                </option>
                <option value="209">
                </option>
              </select>
            </span>
            <span class="text is-required">
              <label>內容：
              </label>
              <input name="ctl00$ContentPlaceHolder1$c_670" type="text" id="ContentPlaceHolder1_c_670" class="dynDateTime" style="
                                                                                                                                  width: 350px;
                                                                                                                                  ">
            </span>
            <span class="file">
              <label>檔案上傳一：
              </label>
              <input type="file" name="ctl00$ContentPlaceHolder1$c_671" id="ContentPlaceHolder1_c_671">
            </span>
            <span class="file">
              <label>檔案上傳二：
              </label>
              <input type="file" name="ctl00$ContentPlaceHolder1$c_672" id="ContentPlaceHolder1_c_672">
            </span>
            <span class="file">
              <label>檔案上傳三：
              </label>
              <input type="file" name="ctl00$ContentPlaceHolder1$c_673" id="ContentPlaceHolder1_c_673">
            </span>
            <span class="text">
              <label>驗證碼：
              </label>
              <input name="ctl00$ContentPlaceHolder1$txtVali" type="text" id="ContentPlaceHolder1_txtVali" placeholder="驗證碼" style="/* width:60px; */">
              <div class="img">
                <span>
                  <img id="ContentPlaceHolder1_Imgchkcode" src="/Common/CheckCode.aspx?t=FDFF63B09B8BB4FB" alt="[驗證碼]">
                </span>
              </div>
              <span class="button"> 
                <input type="submit" name="ctl00$ContentPlaceHolder1$btnRefreshValiCode" value="重新產生" id="ContentPlaceHolder1_btnRefreshValiCode" class="ButtonStyle" onkeypress="this.click();">
              </span>
              <span class="button"> 
                <!-- 調用jQuery版MP3播放器 -->
                <script type="text/javascript" src="/ValiCodeVoice/Scripts/jquery.jplayer.min.js">
                </script>
                <script type="text/javascript" src="/ValiCodeVoice/Scripts/jplayer.playlist.min.js">
                </script>
                <script type="text/javascript">
                  function getCookie(thename) {
                    thename += "=";
                    theCookie = document.cookie + ";";
                    star = theCookie.indexOf(thename);
                    if (star != -1) {
                      end = theCookie.indexOf(";", star);
                      return unescape(theCookie.substring(star + thename.length, end));
                    }
                    return ""
                  }
                  function playvoice() {
                    var myPlaylist = new jPlayerPlaylist({
                      jPlayer: "#jquery_jplayer_N",
                      cssSelectorAncestor: "#jp_container_N"
                    }
                                                         , [{
                                                           title: "Star",
                                                           mp3: "/ValiCodeVoice/sound/begin.mp3"
                                                         }
                                                           ], {
                      playlistOptions: {
                        enableRemoveControls: true }
                      ,
                      swfPath: "/ValiCodeVoice/Scripts",
                      supplied: "mp3",
                      wmode: "window"
                    }
                                                        );
                    var VoiceCode = getCookie('CAPTCHA');
                    //取得Cookie中的驗證碼
                    //var VoiceCode = document.getElementById("ContentPlaceHolder1_uscValidVoice1_hdVoiceCode").value;
                    //alert(VoiceCode);
                    if (VoiceCode != "") {
                      myPlaylist.remove();
                      for (i = 0; i < VoiceCode.length; i++) {
                        var str = VoiceCode.charAt(i).toUpperCase();
                        myPlaylist.add({
                          title: str + ".mp3",
                          mp3: "/ValiCodeVoice/sound/" + str + ".mp3"
                        }
                                      );
                      }
                      //setTimeout(1000);
                      myPlaylist.select(0);
                      myPlaylist.play();
                    }
                  }
                </script>
                <input name="ctl00$ContentPlaceHolder1$uscValidVoice1$btnVoice" type="button" id="ContentPlaceHolder1_uscValidVoice1_btnVoice" value="語音播放" class="ButtonStyle" onclick="playvoice();" onkeypress="this.click();">
                <noscript>您的瀏覽器不支援javascript,您的瀏覽器無法支援此功能,請打開javascript後重新整理
                </noscript>
                <div style="height:0px;">
                  <div id="jp_container_N">
                    <div id="jquery_jplayer_N" style="width: 0px; height: 0px;">
                      <img id="jp_poster_0" style="width: 0px; height: 0px; display: none;">
                      <audio id="jp_audio_0" preload="metadata" src="/ValiCodeVoice/sound/I.mp3">
                      </audio>
                    </div>
                    <div class="jp-playlist" style="display:none;">
                      <ul style="display: block;">
                        <li class="jp-playlist-current">
                          <div>
                            <a href="javascript:;" class="jp-playlist-item-remove">×
                            </a>
                            <a href="javascript:;" class="jp-playlist-item jp-playlist-current" tabindex="1">I.mp3
                            </a>
                          </div>
                        </li>
                        <li>
                          <div>
                            <a href="javascript:;" class="jp-playlist-item-remove">×
                            </a>
                            <a href="javascript:;" class="jp-playlist-item" tabindex="1">3.mp3
                            </a>
                          </div>
                        </li>
                        <li>
                          <div>
                            <a href="javascript:;" class="jp-playlist-item-remove">×
                            </a>
                            <a href="javascript:;" class="jp-playlist-item" tabindex="1">M.mp3
                            </a>
                          </div>
                        </li>
                        <li>
                          <div>
                            <a href="javascript:;" class="jp-playlist-item-remove">×
                            </a>
                            <a href="javascript:;" class="jp-playlist-item" tabindex="1">O.mp3
                            </a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <script>
                  	JavaScript: playvoice();
                  </script>
                </div>
              </span>
            </span>
          </div>
          <div class="fieldset">
            <span class="submit">
              <input type="submit" name="ctl00$ContentPlaceHolder1$btnOK" value="確定" id="ContentPlaceHolder1_btnOK" class="ButtonStyle_H2" onkeypress="this.click();">  
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>